<!-- layout file -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome back, <%= user.username %>!</title>
    <style>
      body {
        font-family: sans-serif;
      }

      .scene {
        width: 200px;
        height: 260px;
        border: 1px solid #ccc;
        margin: 40px 0;
        perspective: 600px;
      }

      .card {
        width: 100%;
        height: 100%;
        transition: transform 1s;
        transform-style: preserve-3d;
        cursor: pointer;
        position: relative;
      }

      .card.is-flipped {
        transform: rotateY(180deg);
      }

      .card__face {
        position: absolute;
        width: 100%;
        height: 100%;
        line-height: 260px;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      .card__face--front {
        background: red;
      }

      .card__face--back {
        background: blue;
        transform: rotateY(180deg);
      }
    </style>
  </head>
  <body>
    <!-- ejs -->
    <h1><%= user.username %></h1>
    <h2><%= user.email %></h2>
    <p><%= userId %></p>
    <% let arr = []; %> <% console.log('arr: ' + arr) %> <% let i = 0; %> <%
    for(let card of cards) { %> <% if(userId == card.userId) { %> <%
    arr.push(card) %> <% } %> <% } %> <% console.log('arr: ' + arr) %> <%
    console.log('first entry: ' + arr[0]) %>
    <div class="scene scene--card">
      <div class="card">
        <div class="card__face card__face--front" id="front">
          <div id="cardFront">
            <div><%= %></div>
            <button id="checkWork">Check Work</button>
          </div>
        </div>
        <div class="card__face card__face--back">
          <div id="cardBack"></div>
          <button id="reviewButton">Review</button>
          <button id="nextButton">Next Card</button>
        </div>
      </div>
    </div>
    <p>Click card to flip.</p>

    <p>file: users/show.ejs</p>
  </body>
  <script>
    console.warn("test", req.app.locals.baseUrl);
  </script>
</html>
