<head>
  <title><%= card.front %></title>
</head>
<% layout('layouts/boilerplate') %>
<h1>Front: <%= card.front %></h1>
<ul>
  <li>Back: <%= card.back %></li>
  <li>Tags: <%= card.tags %></li>
  <li>Card Set: <%= card.card_set %></li>
</ul>
<a href="/cards/<%=card._id%>/edit">Edit</a><br />
<a href="/allcards">All Cards</a><br />
<form action="/cards/<%=card._id%>?_method=DELETE" method="POST">
  <button>Delete</button>
</form>
<p>file: testShow.ejs</p>
